body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 300px;
    text-align: left;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #707070;
    border-radius: 15px;
}

button {
    background: #286928;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px auto; /* Center the button */
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #4cae4c;
}

.link {
    display: block;
    margin-top: 10px;
}
